---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@font-face {font-family: 'Gambetta', serif;}
@font-face {font-family: 'General Sans', sans-serif;}
@font-face {font-family: 'Chubbo', sans-serif;}

$sans-serif : "Gambetta", serif;
$sans-serif-narrow: "Chubbo", sans-serif;
$header-font-family : "General Sans", sans-serif;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.wide {
  .page {
    @include breakpoint($large) {
      float: none;    // disable from .page
      margin: 0 auto; // center
      padding-right: 0;

    }

    @include breakpoint($x-large) {
      float: none;    // disable from .page
      margin: 0 auto; // center
      padding-right: 0;
    }
  }
}
