---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@font-face {
  font-family: 'FVGranadaBold';
  src: url('/assets/fonts/FVGranada/ffvgranada-bold-webfont.eot');
  src: url('/assets/fonts/FVGranada/fvgranada-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/FVGranada/fvgranada-bold-webfont.woff') format('woff'),
       url('/assets/fonts/FVGranada/fvgranada-bold-webfont.ttf') format('truetype'),
       url('/assets/fonts/FVGranada/fvgranada-bold-webfont.svg#FVGranadaBold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'FVGranadaRegular';
  src: url('/assets/fonts/FVGranada/fvgranada-regular-webfont.eot');
  src: url('/assets/fonts/FVGranada/fvgranada-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/FVGranada/fvgranada-regular-webfont.woff') format('woff'),
       url('/assets/fonts/FVGranada/fvgranada-regular-webfont.ttf') format('truetype'),
       url('/assets/fonts/FVGranada/fvgranada-regular-webfont.svg#FVGranadaRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
	font-family: "Uncut Sans";
	font-style: normal;
	font-weight: 400;
	src: url("https://cdn.jsdelivr.net/gh/kaspernordkvist/uncut_sans/Webfonts/Uncut-Sans-Regular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/kaspernordkvist/uncut_sans/Webfonts/Uncut-Sans-Regular.woff") format("woff");
	font-display: swap
}

$sans-serif : "Uncut Sans", sans-serif;
$sans-serif-narrow : "FVGranadaRegular", sans-serif;

$header-font-family : "FVGrandaBold", sans-serif;

// html {
//     font-size: 14px; // change to whatever
  
//     @include breakpoint($medium) {
//       font-size: 16px; // change to whatever
//     }
  
//     @include breakpoint($large) {
//       font-size: 18px; // change to whatever
//     }
  
//     @include breakpoint($x-large) {
//       font-size: 20px; // change to whatever
//     }
//   }



@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.wide {
  .page {
    @include breakpoint($large) {
      float: none;    // disable from .page
      margin: 0 auto; // center
      padding-right: 0;

    }

    @include breakpoint($x-large) {
      float: none;    // disable from .page
      margin: 0 auto; // center
      padding-right: 0;
    }
  }
}
